@font-face {
    font-family: 'Coolvetica';
    src: url('../fonts/CoolveticaRg-Regular.eot');
    src: url('../fonts/CoolveticaRg-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CoolveticaRg-Regular.woff') format('woff'),
         url('../fonts/CoolveticaRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; }

body {
    background-image: url(https://files.facepunch.com/s/f3f82956055e.jpg); /* fallback */
    background-position: top center;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
}

.container {
    max-width: 1100px;
    aborder: 1px solid;
    margin: auto;
}

h1 {
    font-family: 'Coolvetica', sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    margin: 10vh auto 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(
        rgba(3, 169, 244, 0.7),
        rgba(3, 169, 244, 0.9),
        rgba(3, 169, 244, 1)
    );
    width: 100vw;
    height: 100vh;
}

.box {
    width: calc(50% - 50px);
    float: left;
    abox-shadow: inset 0 0 0 1px #ccc;
    margin: 25px;
    border-radius: 3px;
}

.box h2 {
    font-family: 'Coolvetica', sans-serif;
    font-size: 48px;
    margin: 0;
    padding: 10px 0;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    background: #222222;
    width: 100%;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    width: 100%;
    padding: 10px 15px;
    background: #ffffff;
    color: #03a9f4;
    font-size: 18px;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    overflow: auto;
    line-height: 1.5;
}

ul li:first-child {
    border-radius: 3px 3px 0 0;
}

ul li:last-child {
    border-radius: 0 0 3px 3px;
}

ul li > *:not(span) {
    display: inline-block;
    vertical-align: middle;
}

ul li > p {
    display: list-item;
}

img.player-avatar {
    max-width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    position: relative;
}

img.player-avatar:after {
    content: '';
    display: block;
    clear: both;
}

.loadingbar {
    clear: both;
}

i[class^="icon-"] {
    font-size: 28px;
    margin: 0 15px 0 5px;
}

.loadingbar {
    width: calc(100% - 50px);
    margin: 0 25px 5px;
    padding: 13px 15px;
    background: #000000;
    position: relative;
    border-radius: 3px;
}

.loadingbar .percentage {
    float: right;
}

.progress {
    position: absolute;
    background: rgba(208, 208, 208, .5);
    top: 0;
    left: 0;
    height: 100%;
}